{% extends 'base.html' %}

{% block content %}

<h5>Name: </h5>
<b>Azra Batrisyia Hisman</b>

<script>
  $(document).ready(() =>{
    var avariable = 'something'
    const url = "http://localhost:8000/wishlist/json/";
    $.get(url, (data) => {
      data.forEach((item) => {
        var item_name = item.fields.item_name;
        var item_price = item.fields.item_price;
        var item_description = item.fields.description;
        var html = "<tr><td>" + item_name +
                   "</td><td>" + item_price +
                   "</td><td>" + item_description + "</td>";
        $("tbody").append(html);
      })
    })
  })
</script>

{% endblock content %}